<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Creatives Awards</a>
    <a style="color:black;" href="/admin" id="ig-text" class="nav-item text-black" active-color="black"><i
      class="fas fa-user-tie text-black"></i>&nbsp;</a>&nbsp; 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/"><img src="https://img.icons8.com/ios-glyphs/30/000000/home-page--v1.png"/><span class="sr-only">(current)</span></a>
          <li class="nav-item">
          
            <a class="nav-link active text-white" aria-current="page" id="profile" href="/profile/" height="20px" width="20px">
              <img src="https://img.icons8.com/ios-glyphs/30/000000/user--v1.png"/></a>
            
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Home</a>
            <a class="dropdown-item" href="#">Log Out</a>
            <div class="dropdown-divider"></div>
            <!-- <a class="dropdown-item" href="#">Something else here</a> -->
          </div>
        </li>
        <li class="nav-item">
            <a class='btn btn-danger btn-sm'   href="/accounts/login"><span class="glyphicon glyphicon-log-out"></span>Log Out</a>
        </li>
      </ul>
      <form class=" form" role="search" action="{% url 'search.post' %}">
        <div class="input-group " >
          <input type="text" class="form-control" placeholder="Search project name" name="search" style="height: 30px; width: 200px;" >
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
          </div>
        </div>
      </form>
    </div>
  </nav>