{% extends "all-awards/base.html" %}
{% block content %}
<h1 class="text-center m-0 text-light">Project</h1>
<hr style="height:3px;border-width:1;color:#E46B3F;background-color:#C4402A">

<!-- single post details -->
<!-- check if image exists -->
{% if project.image %}
<section class="single-top-header" 
style="height: 70vh; width:80vw; margin-left:120px; background-repeat: no-repeat;background-size: cover;background-position: center; 
background-image: url({{project.image.url}})">

    {% else %}
    <section class="single-top-header">
        {% endif %}
        <div class="header">
            <div class="container">
                <div class="row">
                    
                            <!-- check if author profile exists -->
                            {% if project.user.profile_pic_path %}
                            <img src="{{ user.profile_pic_path }}" alt="author" class="aimg mt-3">
                            {% else %}
                            <!-- <img src="https://img.icons8.com/fluency/48/000000/user-male-circle.png" alt="author"
                                class="aimg mt-3 mb-3" height="300" width="300"> -->
                            {% endif %}
                        
                    
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </section>
    <section class="blog-container p-5">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="card-title ">Title:&nbsp;{{project.name}}</h2>
                    <p class="card-text text-light"><b>Description:&nbsp;</b>{{project.description}}</p>
                    <P class="card-text text-light">Category:&nbsp;{{project.category}}</P>
                    <P class="card-text text-light">Location:&nbsp;{{project.location}}</P>
                    

                    <div class="single-content">
                       
                        
                        <div class="author mt-5 mb-5">
                            <p class="user text-warning">
                                By &#126; {{user.username}}
                                <P class="user text-warning">Date Posted:&nbsp;<em>{{project.date}}</em></P>
                                <a href="{{project.link}}" class="btn btn-info btn-centered">Go to Repo</a>
                            </p>
                            
                            </div>
                            </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}